/*Landing Page content*/

.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/*banner*/

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5rem; padding-right: 5rem;
    padding-top: 3rem; padding-bottom: 4rem;
}

.banner-text {
    padding-left: 7rem;
    width: 50%;
    text-align: left;
}

.banner h1 {
    color: #333;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.banner button {
    width: 35%;
    height: 3rem;
    font-size: 1rem;
    border-style: none;
    border-radius: 40px;
    color: white;
    background-color: #5271FF;
}

.banner img {
    width: 50%;
}

.banner button:hover {
    background-color: #333;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

/*shop features*/

.shop-features-section {
    padding-top: 3rem; padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-features-section h2 {
    font-size: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

.shop-features-div {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-left: 1rem; margin-right: 1rem;
}

.shop-feature-div {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.shop-feature-div img {
    width: 100%;
    max-width: 4em;
    margin-right: 1.5rem;
}

.shop-feature-div-description {
    height: 8rem;
}

.shop-feature-div h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.shop-feature-div p {
    font-size: 0.8rem;
    color: #7D7C7C;
}

/*additional features*/

.additional-features-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3rem; padding-top: 3rem;
    background-color: #F5F7F8;
}

.additional-feature-div {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.additional-feature-div-img-shipping {
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background-color: #C2D9FF;
}

.additional-feature-div-img-support {
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background-color: #FBECB2;
}

.additional-feature-div-img-payment {
    padding: 0.5rem;
    border-radius: 10px;
    margin-right: 1.5rem;
    background-color: #D0E7D2;
}

.additional-feature-div h3 {
    font-size: 1rem;
    height: 2rem;
}

.additional-feature-div p {
    font-size: 0.8rem;
    text-align: justify;
    color: #7D7C7C;
}

.giphy-container {
    display: flex;
}

.giphy {
    width: 60%;
}

.giphy img {
    width: 100%;
    height: 100%;
}

.solid {
    background-color: #fbfbfb;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.solid h3 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.solid button {
    width: 100%;
    max-width: 200px;
    height: 2.813rem;
    margin-left: 0.6rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
}
  
.solid button:hover {
      background-color: rgba(174, 174, 174, 0.212);
      transition: 0.3s;
}
  
  @media (max-width: 650px) {
    .solid h3 {
        font-size: 1rem;
    }
    .solid button {
        width: 100%;
        height: 2rem;
        font-size: 0.9rem;
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    background-color: #5271FF;
}

.newsletter h3 {
    padding-top: 1rem;
    font-size: 1.8rem;
    color: #fff;  
}

.newsletter-container {
    position: relative;
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: lighter;
    text-align: justify;
}

.newsletter-container form {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.newsletter-container input {
    position: relative;
    color: #333;
    font-size: 0.9rem;
    width: 100%;
    max-width: 300px;
    padding: 0.75rem 1.25rem;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.newsletter-container button {
  width: 100%;
  max-width: 200px;
  height: 2.813rem;
  margin-left: 0.6rem;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
}

.newsletter-container button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
}

@media (max-width: 62rem) {
    .banner {
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 4rem;
        padding-left: 0; padding-right: 0;
        margin: 0;
    }

    .banner img {
        margin-bottom: 1.5rem;
    }

    .banner-text {
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .banner h1 {
        padding: 0;
        color: #333;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .banner button {
        width: 20%;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    .shop-features-section {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }
    
    .shop-features-section h2 {
        font-size: 1.8rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    
    .shop-features-div {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding-bottom: 2rem;
    }

    .shop-feature-div img {
        width: 4rem;
        height: 4rem;
    }

    .shop-feature-div-description {
        height: 5rem;
    }

    .additional-features-section {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .additional-feature-div {
        display: flex;
        margin-left: 4rem; margin-right: 1rem;
    }

    .additional-feature-div-description {
        width: 100%;
        text-align: center;
    }

    .additional-feature-div-description p {
        text-align: center;
    }
}

.footer-container {
    color: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
}

.footer-container h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: normal;
}

.about-us p {
    text-align: justify;
    font-size: 0.9rem;
    font-weight: lighter;
}

.quick-links ul li {
    list-style: none;
    font-weight: lighter;
}

.quick-links ul li a {
    color: #fff;
    font-size: 0.9rem;
}

.follow-us {
    cursor: pointer;
}

.contact-us {
    font-size: 0.9rem;
}

.contact-us a {
    color: #fff;
    font-weight: lighter;
}

.footer-container hr {
    width: 1px;
    height: 120px;
    border: none;
    background-color: #494949;
    margin-top: 2rem;
}

.new-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    position: relative;
    color: #333;
    background-color: #F5F7F8;
}

.new-products h3 {
    font-size: 2rem;
    color: #333;
}
/* 
.latest-products-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.latest-product {
    width: 19rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0.9rem;
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
}

.latest-product h4 {
    color: #9B0750;
    margin-top: 0.6rem;
}

.latest-product-desc {
    text-align: justify;
    font-size: 0.9rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.latest-product-price {
    font-weight: bold;
    margin-top: 0.6rem;
} */

/*   
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: none;
}
  
a:active {
    text-decoration: none;
}   */

@media (max-width: 58rem) {
    .banner button {
        width: 20%;
        height: 2rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 65rem) {
    .footer-container {
        display: flex;
        align-items: center;
    }
    .footer-container hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 1px;
        border: none;
    }
}

@media (max-width: 40rem) {
    .new-products h3 {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    .newsletter h3 {
        font-size: 1.5rem;
    }
}