.profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #F5F7F8;
}

.profile {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-top: 2rem; padding-bottom: 2rem;
    padding-left: 10rem; padding-right: 10rem;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.1);

}

.profile-img-n-title {
    margin-bottom: 1.5rem;
}

.profile-img-n-title h1 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.profile-data {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.profile-data p {
    text-align: justify;
    font-size: 0.9rem;
    color: #333;
}

.edit-profile-data {
    width: 45%; height: 1.8rem;
    padding: 0.4rem;
    margin-top: 1rem;
    border-width: 0;
    border-style: none;
    border-radius: 30px;
    background-color: #5271FF;
    color: white;
    font-size: 0.8rem;
}

.edit-profile-data:hover {
    border-width: 0;
    border-style: none;
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;   
}

.user-profile-form {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.user-profile-form input {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto; margin-left: auto;
    padding: 1rem;
    width: 50%;
    border-left: none; border-right: none; border-top: none;
    border-color: #333;
    margin-bottom: 1rem;
    background-color: white;

}

.user-profile-form button {
    width: 45%; height: 1.8rem;
    padding: 0.4rem;
    border-width: 0;
    border-style: none;
    border-radius: 30px;
    background-color: orange;
    color: white;
    font-size: 0.8rem;
}

.user-profile-form button:hover {
    border-width: 0;
    border-style: none;
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;   
}

.update-user-error-message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.update-user-error-message p {
    font-size: 0.8rem;
    color: red;
}

.logout-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}

.logout-link {
    text-decoration: none;
    color: #333;
}

.logout-icon {
    padding-right: 1rem;
}

@media (max-width: 40rem) {
    .profile {
        padding-top: 2rem; padding-bottom: 2rem;
        padding-left: 5rem; padding-right: 5rem;        
    }
}